@charset "utf-8";
/* CSS Document */

body {
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
	text-align: center;
}
.card {
	margin: 15px auto;
	padding: 0px 2px 0px 0px;
	width: 80%;
	border: 2px solid #0277bd;
	border-radius: 0.65em;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
}
.top {
	margin-top: 0px;
	width: 100%;
	border: 1px solid #0277bd;
	background-color: #0277bd;
	border-radius: 0.455em 0.455em 0em 0em;
}
.midle {
	margin-top: 0;
	width: 100%;
	border: 1px solid #97D1FF;
	border-radius: 7px;
	background-color: #97D1FF;
}
.bottom {
	margin-top: 0;
	width: 100%;
	border: 1px solid #FFF;
	border-radius: 0em 0em 0.5em 0.5em;
	background-color: #FFF;
}
.bottom p {
	color: #97D1FF;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
p {
	font-family: Aladin, Asap, sans-serif;
}